<div class="container">
    <div class="row">
        <ul class="nav nav-pills nav-pills-icons " role="tablist">
            {{#each subModulesList}}
            <li class="nav-item">
                <a class="nav-link" href="/level/{{../gameLevel}}/submodule/{{this.subModuleId}}"> {{!-- Adding a
                    {{../}} refers the variable to parent template scope --}}
                    <h1 style="font-size: 30px" "text-transform:uppercase" "font-family:'Courier New'">
                        /{{this.subModuleName}}/</h1>
                    {{#if this.extendedDetails}}
                    <span id="subModuleIdHolderMini">{{this.extendedDetails}}</span>
                    {{else}}
                    <span id="subModuleIdHolderMini">{{this.subModuleName}}</span>
                    {{/if}}
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>