<div class="row align-items-center justify-content-center">
{{#each wordList}}
<div class="col-auto">
    <div class="card text-center" style="width: 20rem;">
        <div class="card-header card-header-warning" value=1 id="attemptbox-{{this._id}}">
            Attempt
        </div>
        <div class="card-body">
            <h1 class="card-title">{{this.word}}</h1>

            <span id="display-area" class="h2 font-weight-bold mb-0"><em></em></span>
            {{!-- <div class="row align-items-center justify-content-center">
                <div class="col-auto">
                    <span class="material-icons text-success mr-2">check</span>
                </div>
                <div class="col-auto">
                    <span class="material-icons text-danger mr-2">close</span>
                </div>
            </div> --}}
            <h5 class="card-title text-uppercase text-muted mb-0">You Said  <span id="display-area-{{this._id}}" class="h5 font-weight mb-0"><em></em></span></h5>
            
            
            {{!-- <p class="mt-3 mb-0 text-sm">
                <span id="accuracy-holder" class="text-success mr-2"><i class="fa fa-arrow-up"></i></span>
                <span class="text-nowrap">Accuracy</span>
            </p> --}}
            <button class="btn btn-icon btn-info" id="listenButton-{{this._id}}" type="button" value={{this._id}} onclick="listen('{{this.word}}',this.value)">
                {{!-- <button class="btn btn-icon btn-info" id="listenButton-{{this._id}}" type="button" wordId={{this._id}} word={{this.word}}></button> --}}
                {{!-- Alternative when inline is disabled --}}
                <span class="material-icons">
                    play_arrow
                </span>
                <span class="btn-inner--text">LISTEN</span>
                <!-- Here the person has to Listen -->
            </button>
            <button class="btn btn-icon btn-info" id="speakButton-{{this._id}}" type="button" value={{this._id}} onclick="speak('{{this.word}}',this.value)">
                {{!-- <button class="btn btn-icon btn-info" id="speakButton-{{this._id}}" type="button" wordId={{this._id}} word={{this.word}}></button> --}}
                {{!-- Alternative when inline is disabled --}}
                <span class="material-icons">
                    mic
                </span>
                <span class="btn-inner--text">SPEAK</span>
                <!-- Here the person has to Listen -->
            </button>
        </div>
    </div>
</div>
{{/each}}
</div>